[submodule "vim/bundle/comments"]
	path = vim/bundle/comments
	url = git://github.com/tpope/vim-commentary.git
[submodule "vim/bundle/delmitmate"]
	path = vim/bundle/delmitmate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "vim/bundle/arduino"]
	path = vim/bundle/arduino
	url = https://github.com/tclem/vim-arduino.git
[submodule "vim/bundle/arduino-syntax"]
	path = vim/bundle/arduino-syntax
	url = https://github.com/sudar/vim-arduino-syntax.git
